.wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.page {
    cursor: pointer;
    border: 1px solid gray;
    padding: 5px 10px;
}
.active {
    border-color: teal;
    font-weight: bold;
    color: teal;
}
